@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FCFCF6];
}

.menu_list {
  @apply hover:border-2 hover:border-black hover:ring-1 hover:ring-white hover:rounded-md  px-2 bg-[#012060] font-OpenSans py-2 text-[#fff] sm:text-[16px] text-[14px] cursor-pointer;
}

.sub_menu_list {
  @apply py-2  bg-[#012060] px-3  list-none font-OpenSans text-[#fff] sm:text-[16px] z-auto;
}

.menu_list_phone {
  @apply py-2  bg-[#012060] px-3  list-none font-OpenSans text-[#fff] sm:text-[16px];
}

.DropdownMenuContent {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.footer_bg {
  background: rgb(160, 32, 240);
  background: linear-gradient(
    180deg,
    rgba(160, 32, 240, 1) 0%,
    rgba(178, 75, 243, 1) 50%,
    rgba(203, 135, 245, 1) 100%
  );
}
